.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    h1 {
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
  
        label {
          margin-bottom: 10px;
        }
  
        input {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 16px;
        }
      }
  
      button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
        &:hover {
          background-color: #0069d9;
        }
      }
    }
  }